{% extends 'base.html' %}
{% block title %}Add Workout{% endblock %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="{{ url_for('create_workout') }}" id="workout">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" name="name" placeholder="Workout name" required>
                        
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-success" >Create workout</button>
                    
                    </div>
                    
                </div>
                <br>
                <div id="exerciseSets">
                    <div class="exercise-set">
                        <select name="exercise[]" class="form-select" required>
                            <option selected disabled value="">Select an exercise</option>
                            {% for exercise in exercises %}
                                <option value="{{ exercise.id }}">{{ exercise.name }}</option>
                            {% endfor %}
                        </select>
                        Weight: <input type="number" class="form-control" name="weight[]" placeholder="Weight" value = "0" required>
                        Repetitions:<input type="number" class="form-control" name="reps[]" placeholder="Repetitions" value = "10" required>
                        Sets:<input type="number" class="form-control" name="sets[]" placeholder="Sets" value="3" required>
                        <br>
                    </div>
                </div>

            </form>
            <button type="button" id="addExercise" class="btn btn-primary">Add Exercise</button>
            <button type="button" class="btn btn-danger remove-exercise-set">Remove</button>
            <br>
        </div>
    </div>
</div>
<script>
    document.getElementById('addExercise').addEventListener('click', function() {
        var exerciseSet = document.querySelector('.exercise-set').cloneNode(true);
        document.getElementById('workout').appendChild(exerciseSet);
    });

    document.addEventListener('DOMContentLoaded', function() {
   
        var removeButton = document.querySelector('.remove-exercise-set');

   
        removeButton.addEventListener('click', function() {
   
            var exerciseSets = document.querySelectorAll('.exercise-set');

          
            if (exerciseSets.length > 1) {
                exerciseSets[exerciseSets.length - 1].remove();
            }
        });
    });
</script>
{% endblock %}