{% extends 'base.html' %}
{% block title %}{{ current_user.username }}'s workouts{% endblock %}
{% block content %}
    <h2>My Workouts</h2>
    <div class="row">
        {% for workout in current_user.created_workouts %}
        <div class="col">
            <a href="{{ url_for('workout', workout_id=workout.id) }}">
            <div class="card fixed-card" style="margin: 25px;">
                <img src="{{ url_for('static', filename='images/workoutlogo.png') }}" class="small-image" alt="Image description">
                <div class="card-body">
                    <h5 class="card-title"><b>{{ workout.name }}</b></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Created by: {{ workout.creator.username }}</h6>
                    <p class="card-text">Number of exercises: {{ workout.exercisesets|length }}</p>
                    {% set total_sets = namespace(value=0) %}
                    {% set total_weight = namespace(value=0) %}
                    {% for exercise_set in workout.exercisesets %}
                        {% set total_sets.value = total_sets.value + exercise_set.sets %}
                        {% set total_weight.value = total_weight.value + exercise_set.weight %}
                    {% endfor %}
                    <p class="card-text">Total sets: {{ total_sets.value }}</p>
                 
                    {% set average_weight = (total_weight.value / workout.exercisesets|length) if workout.exercisesets|length > 0 else 0 %}
                    {% if average_weight == 0 %}
                        <p class="card-text"><b>Bodyweight</b></p>
                    {% else %}
                        <p class="card-text">Average weight: {{ average_weight }}</p>
                    {% endif %}
                <p class="card-text">Likes: {{ workout.likes }}</p>
                <p class="card-text">Dislikes: {{ workout.dislikes }}</p>
                <form method="POST" action="{{ url_for('delete_workout', workout_id=workout.id) }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
        </a>
    </div>
    {% endfor %}
    </div>
{% endblock %}

