{% extends 'base.html' %}
{% block title %}Workout History{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 text-right">
            <form method="GET" action="{{ url_for('add_completed_workout') }}">
                <button type="submit" class="btn btn-success mb-2">Add Completed Workout</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Workout History</h1>
            {% for completed_workout in completed_workouts %}
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ completed_workout.workout.name }}</h5>
                    <p class="card-text">Date: {{ completed_workout.date.strftime('%Y-%m-%d %H:%M') }}</p>
                    <p class="card-text">Total Sets: {{ completed_workout.total_sets }}</p>
                    <h6 class="card-subtitle mb-2 text-muted">Exercises:</h6>
                    <ul>
                        {% for exercise_set in completed_workout.completed_exercises %}
                        <li>
                            <strong>{{ exercise_set.exercise.name }}</strong> - 
                            {% if exercise_set.weight != None and exercise_set.weight != 0 %}
                                Weight: {{ exercise_set.weight }},
                            {% endif %} 
                            Sets: {{ exercise_set.sets }}, 
                            Reps: {{ exercise_set.reps }}
                        </li>
                        {% endfor %}
                    </ul>
                    <form method="POST" action="{{ url_for('manage_workout_history') }}" style="display:inline;">
                        <input type="hidden" name="action" value="delete">
                        <input type="hidden" name="workout_id" value="{{ completed_workout.id }}">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="fixed-clear-history">
    <form method="POST" action="{{ url_for('manage_workout_history') }}" onsubmit="return confirmClearHistory()">
        <input type="hidden" name="action" value="clear">
        <button type="submit" class="btn btn-danger">Clear History</button>
    </form>
</div>

<style>
.fixed-clear-history {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
</style>

<script>
    //conformation script
function confirmClearHistory() {
    return confirm("Are you sure you want to clear your entire workout history? All data will be permanently erased.");
}
</script>
{% endblock %}
